WebClientApplication/Service References/StockServiceReference/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://tempuri.org/">
      <s:element name="GetPricesForStocks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stockSymbolList" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPricesForStocksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPricesForStocksResult" type="tns:ArrayOfStockTickerSerializable" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStockTickerSerializable">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="StockTickerSerializable" nillable="true" type="tns:StockTickerSerializable" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StockTickerSerializable">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SoapSimpleIdentity" type="tns:SoapSimpleIdentity" />
      <s:complexType name="SoapSimpleIdentity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPricesForStocksSoapIn">
    <wsdl:part name="parameters" element="tns:GetPricesForStocks" />
  </wsdl:message>
  <wsdl:message name="GetPricesForStocksSoapOut">
    <wsdl:part name="parameters" element="tns:GetPricesForStocksResponse" />
  </wsdl:message>
  <wsdl:message name="GetPricesForStocksSoapSimpleIdentity">
    <wsdl:part name="SoapSimpleIdentity" element="tns:SoapSimpleIdentity" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="GetPricesForStocks">
      <wsdl:input message="tns:GetPricesForStocksSoapIn" />
      <wsdl:output message="tns:GetPricesForStocksSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPricesForStocks">
      <soap:operation soapAction="https://tempuri.org/GetPricesForStocks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetPricesForStocksSoapSimpleIdentity" part="SoapSimpleIdentity" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPricesForStocks">
      <soap12:operation soapAction="https://tempuri.org/GetPricesForStocks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetPricesForStocksSoapSimpleIdentity" part="SoapSimpleIdentity" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="https://localhost:44302/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="https://localhost:44302/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>